---
---

@import "settings";
@import "foundation";

@include foundation-everything;

@import "buttons";
@import "animate";

/*vars:*/
$bgColor: #eee;
$neutralColor: $charcoal;

@font-face {
    font-family: 'Eagle';
    src: url("../assets/fonts/Eagle-Book.eot?-u70zge");
    src: url("../assets/fonts/Eagle-Book.eot?#iefix-u70zge") format("embedded-opentype"), url("../assets/fonts/Eagle-Book.ttf?-u70zge") format("truetype"), url("../assets/fonts/Eagle-Book.woff?-u70zge") format("woff"), url("../assets/fonts/Eagle-Book.svg?-u70zge#Eagle-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}


svg {
    fill: currentColor;
}

@mixin box-shadow($blur, $opacity) {
    box-shadow: 0 1px $blur rgba($almost-black, $opacity);
}
#helpbar {
    margin: 0;
    padding: 24px;
    background: #eee;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 100vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    padding-top: 60px;
    text-align: center;
    #close-help {
        width: 44px;
    height: 44px;
    background: white;
    font-size: 44px;
    border-radius: 22px;
    box-shadow: 0 1px 2px rgba(18,18,20,0.3);
    font-weight: 200;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    span {
        margin-top: -6px;
    display: block;
    margin-left: 2px;
    font-size: 50px;
    }
    }
    #helptext {
        max-width: 45em;
        margin: 0 auto;
        text-align: left;
        color: $talk-dark;
        p {
            color: $topbar-dark;
        }
    }
}

//playbar
#playbar {
    position: absolute;
    background: #f9f9f9;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    height: 60px;
    box-shadow: 0 -1px 3px rgba($talk-dark, .3);
}

.switch-holder {
    padding-top: 14px;
}

.switch-paddle {
    background: $neutralColor;
    border-radius: 16px;
    &:after {
        border-radius: 50%;
    }
}

input:checked ~ .switch-paddle {
    background: $success-color
}

.switch-label {
    color: $neutralColor;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;
    padding-top: 3px;
    padding-right: 12px;
}


#darkout {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($vr-blue, 0.8);
    z-index: 0;
}

#spotlight {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    -webkit-box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    z-index: 1000;
}

#spotlight-msg {
    background: $vr-beige;
    position: absolute;
    z-index: 1200;
    padding: 12px;
    border-radius: 4px;

    @include box-shadow(5px, 0.3);
    
    margin-top: 24px;
    margin-left: 24px;

    p {
        margin: 0;
        color: $talk-dark;
    }
    #msg {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $neutralColor;
    }

    .spotlight-btn {
        margin: 0;
        margin-left: 12px;
    }

    .cancel-btn {
        margin:0;
        background: none;
        color: $talk-dark;
        font-weight: 300;
        text-transform: none;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

hr {
    border-color: $vr-beige;
}

.pulse {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.callout {
    margin: 6px;
}

#navbar {
    background: #fff;

    @include box-shadow(3px, 0.3);

    max-height: 72px;
    position: relative;
    z-index: 900;
    color: $topbar-dark;
}

#back-arrow, #dropdown, #list-toggle {
    a {
        color: $topbar-dark;
        font-size: 24px;

        &:hover {
            color: $vr-light-blue;
        }
    }

    padding: 20px 24px;

    svg {
        width: 24px;
        height: 24px;
    }
}

#dropdown {
    padding-top: 18px;
}

#list-toggle {
    padding: 14px 24px;
    a {
        color: $neutralColor
    }
}

#talkbar {
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    position: absolute;
    z-index: 800;
    height: 60px;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
}

#titlerow {
    height: 60px;
    border-bottom: 1px solid $steel;
}

#listrow, #titlerow {
    max-width: 100%;
    margin: 0;
}

.talkitem {
    padding: 6px 24px;
    border-bottom: 1px solid $charcoal;

    p {
        margin: 0;
    }
}



#dropdown .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: url(../assets/tubes.png) no-repeat 50% 50%;
    background-size: cover;
    border: 1px solid white;

    @include box-shadow(2px, 0.3);

    cursor: pointer;

    &:hover {
        @include box-shadow(3px, 0.5);

        /* border: 1px solid $vr-light-blue;*/
    }
}

#devices {
    text-align: center;
    background: $vr-purple;

    @include box-shadow(20px, 0.3);

    /* display: flex;*/
    /* justify-content: center;*/
    /* align-items: center;*/
    color: white;
    padding: 24px;
    position: fixed;
    top: 220px;
    left: 24px;
    right: 24px;

    /* bottom: 24px;*/
    z-index: 1;
    overflow: scroll;

    @include breakpoint(medium) {
        max-width: 45rem;

        /* position: absolute;*/
        left: 50%;
        margin-left: -22.5rem;
    }


    h3 {
        margin-bottom: 24px;
    }

    ul {
        @include breakpoint(medium) {
            @include menu-expand;
        }
    }

    li {
        padding: 12px;
    }

    svg {
        fill: currentColor;
        width: 60px;
        height: 60px;
    }
}

.accordion {
    background: none;
    border: none;
}

#msg-center {
    max-width: 35rem;

    /* margin-bottom: 60px;*/
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#panels {
    -ms-flex: 0 0 80vw;
    flex: 0 0 80vw;
    margin-bottom: 48px;
}

#advice-messages-bg {
    position: absolute;
    background: rgba($talk-dark, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#advice-message-box {
        position: absolute;
    background: lemonchiffon;
    padding: 12px;
    border-radius: 4px;
    @include box-shadow(5px, .3);
    p {
    color: $topbar-dark;
    font-weight: 300;
    }
}


#msg-center {
    padding: 0;
    position: relative;
    z-index: 999;
    max-width: 30em;

    .messagebox {
        padding: 24px;

        /* background: $vr-purple;*/
        /* margin-top: -30%;*/
    }

    h3 {
        color: white;
        text-transform: uppercase;
        font-size: rem-calc(21);
        line-height: rem-calc(30);
        letter-spacing: rem-calc(1);
    }

    p.lead {
        color: $vr-beige;
        font-size: rem-calc(14);
        line-height: rem-calc(21);
    }

    .button svg {
        margin-right: 12px;
    }

    .btn-yellow {
        border-color: $vr-yellow;
        color: $vr-yellow;

        &:hover {
            border-color: $vr-light-blue;
            color: white;
            background: $vr-light-blue;
        }
    }

    .faq-link {
        margin-top: 24px;
    }
}

.stopwatch {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: $success-color;
}

.panel-button {
    position: absolute;
    top: 40px;
    right: 14px;
    left: 12px;
    bottom: 20px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: rem-calc(14);
    line-height: rem-calc(12);

    @include box-shadow(5px, 0.3);
}

#broadcast-button.warning {
    color: $almost-black;
}

svg#logo {
    fill: rgba($almost-black, 0.5);
    stroke-width: 0;
    max-width: 84px;
    margin: 24px 0;
}

html, body {
    background: $bgColor;
}

/* path {*/
/*   fill: none;*/
/*   stroke: $vr-light-blue;*/
/*   stroke-width: 6px;*/
/* }*/

.panelbox {
    position: relative;

    /* border: 1px dotted $oil;*/
    text-align: center;
    padding: 3px;

    h5 {
        font-family: $body-font-family;
        font-weight: 500;
        letter-spacing: rem-calc(1);
        margin: 0;
        font-size: 10px;
        color: $silver;
        text-align: center;
        margin-bottom: 6px;
        text-transform: uppercase;
        width: auto;
        background: $neutralColor;
        padding: 3px 7px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
    }

    svg {
        fill: none;
        stroke-width: 5px;
        stroke: $neutralColor;
    }

    path#overlay {
        stroke: rgba($almost-black, 0);
    }

    line {
        stroke: $bgColor;
    }

    path#hub {
        stroke: none;
        fill: $bgColor;
    }

    .base-ring {
        border: 6px solid rgba($almost-black, 0.3);
        border-radius: 50%;
        margin: 0 auto;
    }
}

#broadcast {
    margin: 0 auto;
    position: relative;
}

#server-circle-holder {
    position: relative;

    #server-circle {
        position: absolute;
        border: none;
        padding: 0;

        svg {
            position: absolute;
            width: 160px;
            height: 160px;
        }
    }
}

.panel-circle-holder {
    width: 100%;
    height: 100%;
    display: block;

    /* border-radius: 80px;*/
    /* border: 6px solid rgba(black, .3);*/
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease;
    position: relative;

    &.success {
        border: 6px solid #3adb76;
    }

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);

        &.neutral-circle path {
            stroke: rgba(black, 0.4);
        }
    }
}

#broadcast-circle {
    padding: 0;
}

#server-circle {
    svg {}
}

.start-btn {
    width: 90%;
    height: 90%;
    background: $vr-light-blue;
    border-radius: 50%;
    position: absolute;
    border: 0;
    outline: 0;
    color: white;
    box-shadow: 0 1px 5px rgba(black, 0.3);
}

#titlebar {
    padding-top: 21px;
    height: 72px;

    /* margin-bottom: 60px;*/
    .label {
        background: $topbar-dark;
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        color: $oil;
        font-size: rem-calc(10);
        margin: 0;
    }

    h3 {
        color: $vr-light-blue;
        margin-bottom: 0;
    }

    p#venue-title {
        color: $topbar-dark;
        font-weight: normal;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: rem-calc(2);
        font-family: $header-font-family;
    }

    .talk-label {
        text-transform: uppercase;
        color: $oil;
        letter-spacing: rem-calc(1);
    }
}

#talk-titlebar {
    padding: 18px 24px 0 0;

    p {
        color: $oil;
    }

    .next-talk, .time-info {
        font-weight: 200;
        color: $charcoal;
    }

    a {
        color: $oil;
        &:hover 
        { text-decoration: underline 
        }
    }
}
    #help-link {
        padding: 14px;
        .button {
            border-radius: 50%;
            color: $talk-dark;
            background: $vr-yellow;
            width: 28px;
            height: 28px;
            padding: 5px 9px;
    font-weight: 500;
        }
    }
.talkitem {
    p {
        color: $oil;

        .time {
            font-weight: 200;
            color: $charcoal;
            min-width: 160px;
            display: inline-block;
        }

        .title {
            padding-left: 12px;
        }

        &.header {
            font-weight: 500;

            .time {
                font-weight: 500;
            }
        }
    }

    &.header {
        border-color: #bbb;
    }
}