---
---
@import "settings";
@import "foundation";

@include foundation-everything;

@import "buttons";
@import "animate";

/*vars:*/
$bgColor: #eee;
$neutralColor: $charcoal;

@font-face {
    font-family: 'Eagle';
    src: url("../assets/fonts/Eagle-Book.eot?-u70zge");
    src: url("../assets/fonts/Eagle-Book.eot?#iefix-u70zge") format("embedded-opentype"), url("../assets/fonts/Eagle-Book.ttf?-u70zge") format("truetype"), url("../assets/fonts/Eagle-Book.woff?-u70zge") format("woff"), url("../assets/fonts/Eagle-Book.svg?-u70zge#Eagle-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

.no-pad {
    padding: 0;
}

h4.section-title {
    font-size: rem-calc(14);
    font-family: $body-font-family;
    font-weight: 300;
    color: rgba($topbar-dark, 0.5);
    letter-spacing: rem-calc(2);
    text-transform: uppercase;
}

#left-side {
    background: #eee;
    height: auto;
    padding-bottom: 24px;
    @include breakpoint(medium){
        float:left;
    min-height: 100vh;
    }
}

#toggles {
    padding: 12px;
}

#circles {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
    margin-bottom: 24px;

    // background:rgba(lemonchiffon,.2);
    @include breakpoint(medium) {
        width: 45vw;
        height: 45vw;
        max-width: 50vh;
        max-height: 50vh;

        // margin: 12px 2.5vw 24px 2.5vw;
    }


    @include breakpoint(large) {
        width: 40vw;
        height: 40vw;

        // margin: 12px 5vw 24px 5vw;
    }


    svg text {
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        pointer-events: none;
    }
}

#meter {
    stroke: rgba($talk-dark, 0.2);
}

.base {
    stroke: rgba($topbar-dark, 0.1);
}

#speakers {
    text-align: left;

    a {
        color: $topbar-dark;
        padding: 6px;

    
    background: #f4f4f4;
    margin: 3px 2px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: .7rem;

        &:hover {
            background:#fff;
            
        }

        svg {
            fill: currentColor;
            width: 12px;
            height: 12px;
        }

        .speaker-name {
            vertical-align: baseline;
            margin-left: 6px;
            letter-spacing: rem-calc(1);
        }
    }
.menu>li {
display: inline-block; }
}

svg {
    fill: currentColor;
}

@mixin box-shadow($blur, $opacity) {
    box-shadow: 0 1px $blur rgba($almost-black, $opacity);
}

#helpbar {
    margin: 0;
    padding: 24px;
    background: #eee;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 100vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    padding-top: 60px;
    text-align: center;

    #helptext {
        max-width: 45em;
        margin: 0 auto;
        text-align: left;
        color: $talk-dark;

        p {
            color: $topbar-dark;
        }
    }
}

#close-help, #close-advice {
    width: 44px;
    height: 44px;
    background: white;
    font-size: 44px;
    border-radius: 22px;
    box-shadow: 0 1px 2px rgba(18, 18, 20, 0.3);
    font-weight: 200;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;

    span {
        margin-top: -6px;
        display: block;
        margin-left: 2px;
        font-size: 50px;
    }
}

#close-advice {
    top: 1px;
    right: 12px;
    background: none;
    box-shadow: none;
    font-size: 12px;
    width: 24px;
    height: 24px;
    font-weight: 200;
    color: $topbar-dark;
}

//playbar
#playbar {
    position: absolute;
    background: #f9f9f9;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    height: 60px;
    box-shadow: 0 -1px 3px rgba($talk-dark, 0.3);
}

.switch-holder {
    padding-top: 14px;
}

.switch-paddle {
    background: $neutralColor;
    border-radius: 16px;

    &:after {
        border-radius: 50%;
    }
}

input:checked ~ .switch-paddle {
    background: $success-color;
}

.switch-label {
    color: $neutralColor;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3px;
    padding-right: 12px;
}

#darkout {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($vr-blue, 0.8);
    z-index: 0;
}

#spotlight {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    -webkit-box-shadow: 0 0 0 2000px rgba($vr-blue, 0.8);
    z-index: 1000;
    pointer-events: none;
}

#spotlight-msg {
    background: $vr-beige;
    position: absolute;
    z-index: 1200;
    padding: 12px;
    border-radius: 4px;

    @include box-shadow(5px, 0.3);

    margin-top: 24px;
    margin-left: 24px;

    p {
        margin: 0;
        color: $talk-dark;
    }

    #msg {
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid $neutralColor;
    }

    .spotlight-btn {
        margin: 0;
        margin-left: 12px;
    }

    .cancel-btn {
        margin: 0;
        background: none;
        color: $talk-dark;
        font-weight: 300;
        text-transform: none;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

@keyframes connecting {
    from {
        stroke-width: 10;
    }

    to {
        stroke-width: 5;
    }
}

hr {
    border-color: $vr-beige;
}

.pulse {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.connecting {
    animation-duration: .5s;
    animation-name: connecting;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.callout {
    margin: 6px;
}

#navbar {
    background: $topbar-dark;
    height: 48px;
    color: $vr-light-blue;

    @include box-shadow(3px, 0.3);

    max-height: 80px;
    position: relative;
    z-index: 900;
    display: flex;
}

#back-arrow, #dropdown, #list-toggle {
    a {
        color: $oil;
        font-size: .8rem;
        display: flex;

        &:hover {
            color: $vr-light-blue;
        }
    }

    // padding: 20px 24px;

    svg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
    }
}

#back-arrow {
    //padding:5px 0 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#dropdown {
    padding: 11px 11px 0 0;
}

#list-toggle {
    background: rgba($topbar-dark,.2);
    color: #ddd;
    padding: 6px 14px;
    border-bottom: 1px solid $charcoal;
    height: 30px;

    a.see-all {
        font-size: 0.6rem;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        justify-content:center;
        color: $oil;
        position:relative;
        width:40%;
        margin:0 auto;
        &:after {
            content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: $oil transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 1rem;
        }

        &.hide-all {
            &:after {
                content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent $oil;
    border-bottom-style: solid;
    border-bottom-width: 6px;

    margin-top: -8px;
            }
        }

    }


    a {
        color: $neutralColor;
    }

    @include breakpoint(medium) {
        padding: 9px 14px;
        background:$silver;
        height:36px;
    }
}

#toggles .button {
    border:none;
    margin: 0;
    &:hover {
        background:none;
        color: $success-color;
    }
    svg {
        margin-right:6px;


    }
            &:last-child {
                svg {

            margin-right:0;
            margin-left:6px;
                }
        }
}

#talkbar {
    background: #f9f9f9;
    position: relative;
    z-index: 800;
    height: 100px;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;

    @include box-shadow(3px, 0.3);

    @include breakpoint(medium) {
        height: 36px;
        // border-bottom: 1px solid $charcoal;
    }


    a {
        color: $jet;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dayitem {
    height:24px;
    background:$oil;
    color:$silver;
    font-size:.8rem;
        padding: 2px 0 0 12px;

}

#titlerow {
    height: 60px;
    border-bottom: 1px solid $steel;
}

#listrow, #titlerow {
    max-width: 100%;
    margin: 0;
}

.talkitem {
    font-size: .8rem;
    padding: 6px;
    border-bottom: 1px solid $charcoal;

    p {
        margin: 0;
    }
}

#dropdown .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../assets/tubes.png) no-repeat 50% 50%;
    background-size: cover;
    border: 1px solid white;

    @include box-shadow(2px, 0.3);

    cursor: pointer;

    &:hover {
        @include box-shadow(3px, 0.5);

        /* border: 1px solid $vr-light-blue;*/
    }
}

#devices {
    text-align: center;
    background: $vr-purple;

    a {
        color: white;
        padding-bottom: 0;
        height: 60px;
    }

    @include box-shadow(20px, 0.3);

    /* display: flex;*/
    /* justify-content: center;*/
    /* align-items: center;*/
    color: white;
    padding: 12px;
    position: fixed;
    top: 12px;
    left: 12px;
    right: 12px;
    z-index: 900;
    overflow: auto;
    bottom: 12px;

    @include breakpoint(medium) {
        max-width: 45rem;

        /* position: absolute;*/
        left: 50%;
        margin-left: -22.5rem;
    }


    h3 {
        margin-bottom: 24px;
    }

    ul {
        @include breakpoint(medium) {
            @include menu-expand;
        }
    }

    li {
        padding: 24px;
        width:50%;
        float:left;
    }

    svg {
        fill: currentColor;
        width: 60px;
        height: 60px;
    }

    .back-close {
        margin-bottom:12px;
        .close-btn {
            font-size: 3rem;
    padding: 0;
    line-height: 1.5rem;
    font-weight: 200;
        }
    .back-btn {
        svg {
            width:36px;
            height:36px;
        }
    }
    }

    .new-box svg {
        fill: rgba(white,.5);
    }
}

.accordion {
    background: none;
    border: none;
}

#msg-center {
    max-width: 35rem;

    /* margin-bottom: 60px;*/
}

#controls {
    // background:yellow;
    // min-height: 100vh;
    // margin-top:90px;
}

#chat-window {
    background: orange;
    min-height: 100vh;
    margin-top: 90px;
}

#panels {
    -ms-flex: 0 0 80vw;
    flex: 0 0 80vw;
    margin-bottom: 48px;
}

#advice-messages-bg {
    position: absolute;
    background: rgba($talk-dark, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#advice-message-box {
    position: absolute;
    background: $vr-yellow;
    padding: 12px;
    border-radius: 4px;

    @include box-shadow(5px, 0.3);

    p {
        color: $topbar-dark;
        font-weight: 300;
        max-width: 75%;
        margin: 0;
        float: left;
        min-width: 150px;
    }
}

#msg-center {
    padding: 0;
    position: relative;
    z-index: 999;
    max-width: 30em;

    .messagebox {
        padding: 24px;

        /* background: $vr-purple;*/
        /* margin-top: -30%;*/
    }

    h3 {
        color: white;
        text-transform: uppercase;
        font-size: rem-calc(21);
        line-height: rem-calc(30);
        letter-spacing: rem-calc(1);
    }

    p.lead {
        color: $vr-beige;
        font-size: rem-calc(14);
        line-height: rem-calc(21);
    }

    .button svg {
        margin-right: 12px;
    }

    .btn-yellow {
        border-color: $vr-yellow;
        color: $vr-yellow;

        &:hover {
            border-color: $vr-light-blue;
            color: white;
            background: $vr-light-blue;
        }
    }

    .faq-link {
        margin-top: 24px;
    }
}

.stopwatch {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: $success-color;
}

.panel-button {
    position: absolute;
    top: 40px;
    right: 14px;
    left: 12px;
    bottom: 20px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: rem-calc(14);
    line-height: rem-calc(12);

    @include box-shadow(5px, 0.3);
}

#broadcast-button.warning {
    color: $almost-black;
}

svg#logo {
    fill: rgba($almost-black, 0.5);
    stroke-width: 0;
    max-width: 84px;
    margin: 24px 0;
}

html, body {
    background: $bgColor;
}

/* path {*/
/*   fill: none;*/
/*   stroke: $vr-light-blue;*/
/*   stroke-width: 6px;*/
/* }*/

#panels {
    position: relative;

    /* border: 1px dotted $oil;*/
    text-align: center;
    padding: 3px;

    h5 {
        font-family: $body-font-family;
        font-weight: 500;
        letter-spacing: rem-calc(1);
        margin: 0;
        font-size: 10px;
        color: $silver;
        text-align: center;
        margin-bottom: 6px;
        text-transform: uppercase;
        width: auto;
        background: $neutralColor;
        padding: 3px 7px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
    }

    svg {
        fill: none;
        stroke-width: 5px;
        stroke: $neutralColor;
    }

    path.overlay {
        stroke: rgba($almost-black, 0);
        transform-origin: 50%;
    }

    path.button {
        stroke-width: 0;
        fill: $success-color;
        transform-origin: 50%;
    }

    line {
        stroke: $bgColor;
    }

    path.hub {
        stroke: none;
        fill: $bgColor;
    }

    text {
        stroke: none;
        fill: $talk-dark;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        pointer-events: none;
    }

    .base-ring {
        border: 6px solid rgba($almost-black, 0.3);
        border-radius: 50%;
        margin: 0 auto;
    }
}

#broadcast {
    margin: 0 auto;
    position: relative;
}

.start-btn {
    width: 90%;
    height: 90%;
    background: $vr-light-blue;
    border-radius: 50%;
    position: absolute;
    border: 0;
    outline: 0;
    color: white;
    box-shadow: 0 1px 5px rgba(black, 0.3);
}

#titlebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 60px;*/
    .label {
        background: $topbar-dark;
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        color: $oil;
        font-size: rem-calc(10);
        margin: 0;
    }

    h3 {
        color: $vr-light-blue;
        margin-bottom: 0;
    }

    #venue-title {
        color: $silver;
        font-weight: normal;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: rem-calc(1);
        font-family: $header-font-family;
        margin-bottom: 0;
        line-height: .8rem;
    }

    .talk-label {
        text-transform: uppercase;
        color: $oil;
        letter-spacing: rem-calc(1);
    }
}

.next-talk, .time-info {
    font-weight: 200;
    color: #666;
}

#talk-titlebar {
    padding: 18px 24px 0 0;

    p {
        color: $oil;
    }

    a {
        color: $oil;

        &:hover {
            text-decoration: underline;
        }
    }
}

#current, #next {
    height: 36px;
    border-bottom: 1px solid $charcoal;
    background: rgba($topbar-dark,.3);
    padding: 8px 12px;
    font-size: .8rem;
}

#current {
    background: rgba($topbar-dark,.5);
}

#help-link {
    // padding: 14px;
    .button {
        border-radius: 50%;
        color: $talk-dark;
        background: $vr-yellow;
        width: 25px;
        height: 25px;
        padding: 5px 8px;
        font-weight: 500;
    }
}

.talkitem {
    p {
        color: $oil;

        .time {
            font-weight: 200;
            color: $charcoal;
            // min-width: 160px;
            display: inline-block;
        }

        .title {
            padding-left: 6px;
        }

        &.header {
            font-weight: 500;

            .time {
                font-weight: 500;
            }
        }
    }

    &.header {
        border-color: #bbb;
    }
}


//messages
#message-container {
    padding: 12px 6px;
    background: #f8f8f8;
    min-height: 100vh;
.message-row {
    margin: 0;
}
}



.message-losenge {
    background:$vr-beige;
    margin:6px;
    @include box-shadow(3px, .3);
    border-radius: 4px;
    padding: 6px;
    font-size: .9rem;
    color: #333;
    padding-bottom: 21px;
    max-width: 60%;
    position:relative;
    &.right {
        background:white;

    }
    .message-time {
        position: absolute;
    bottom: 3px;
    right: 6px;
    font-size: .7rem;
    color: #999;
    }
}

#first-message {
    position: absolute;
    bottom: 60px;
    left: 12px;
    padding:0;
    margin:0;
    .message-losenge {
        background:$vr-yellow;
        max-width:75%;
        .strong {
            text-decoration:underline;
        }
    }
}

#chat-input {
    background: #fff;
    color: $oil;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    box-shadow:0 -1px 3px rgba($talk-dark,.3);
    float:left;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(medium){
        position:fixed;
        left:50%;
        width:50%;
    }
    #chat-icon,#chat-send {
        padding: 12px;
        color: $charcoal;
        flex:0 0 36px;
        height:40px;
        svg {
            width:18px;
            height:18px;

        }
    }

    #chat-input-field {
        flex: 1 1 100%;
        align-self: center;
        height:36px;
    }
}
