---
layout: default
title: Stage of Nick Niles
talk: Teaching An Old Dog New Tricks
---
<audio id="audioElement" src="assets/allensmall.m4a"></audio>
{% include navbar.html %}
{% include talkbar.html %}
{% include help.html %}
<div id="controls">
<div id="panels">
	{% include panel.html name='server' text='launch' %}
	{% include panel.html name='source' text='select' %}
	{% include panel.html name='stream' text='start' %}
</div>
<div id="advice-messages-holder">
	<!-- <div id="advice-messages-bg" style="visibility: hidden; opacity: 0;"></div> -->
	<div id="advice-message-box" style="visibility: hidden; opacity: 0;">
		<button id="close-advice"><span>&times;</span></button>
		<p>Advice</p>
	</div>
</div>
<div class="row clearfix" id="playbar">
	<div class="small-6 columns"></div>
	<div class="small-6 columns text-center clearfix switch-holder">
		{% include switch.html name="autoplay" %}
	</div>
</div>
</div>
<div id="spotlight"></div>
<div id="spotlight-msg" class="" style="opacity:0">
<p id="msg" class="float-left clearfix">Want to take a tour of the control panel?</p>
<p class="clearfix"><a href="#" class="button success cancel-btn float-left">No Thanks</a>
<a href="#" class="button success spotlight-btn float-right">Let's Go!</a></p>
</div>
<!-- <div class="row" id="msg-center"> -->
<!-- {% for post in site.data.messages %}
{% include messagebox.html %}
{% endfor %} -->
</div>
{% include devices.html %}