<div class="row clearfix" id="helpbar" style="visibility: hidden; opacity: 0;" ">

	<div class="row" id="helptext">
		<h3>The Stage Control Panel</h3>
		<p>This is where you control your stage "Stage of Nick Niles." Each stage of your event has one control panel like this.

All talks happening at Venue of Nick Niles are listed below. You can see and control the streams on this page. Start your server, choose your streaming source and then start your broadcast. Any questions? Check out the support section.</p>
		<button id="close-help"><span>&times;</span></button>
</div>
</div>