<div id="left-side" class="medium-8 columns no-pad text-center" >
	<div id="toggles" class="clearfix">
		<button class="tiny button btn-gray btn-hover-green hollow float-left">{% include svg_icon.svg name='bolt'%}autostart</button>

		<button class="tiny button btn-gray btn-hover-green hollow float-right has-tip top" {% include tooltip.html content="turn on sound" %}>sound{% include svg_icon.svg name='sound_on'%}</button>
	</div>
	<div id="circles"></div>
	<div id="speakers" class="medium-10 columns medium-offset-1 end">
		<h4 class="section-title text-center">Speakers</h4>
		<ul class="menu vertical">
			{% for speaker in site.data.speakers %}
				<li class="clearfix">
					
					<a href="#">
						<span class="float-left">
							<svg class="icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-person"></use>
							</svg>
						</span>
						<span class="speaker-name">{{ speaker.name }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>