<div class="row expanded" id="talkbar">
	<div class="medium-6 columns" id="current">
		<p id="current-talk-title">
			<span class="next-talk">Now: </span>
			<a href="#">Gorgeous Metal Steering Wheel</a>
			<span class="float-right time-info">00:12</span>
		</p>
	</div>
	<div class="medium-5  columns" id="next">
		<p id="current-talk-title">
			<span class="next-talk">Next: </span>
			<a href="#">Stream A Little Stream of Me</a>
			<span class="float-right time-info">(14:30)</span>
		</p>
	</div>
	<div class="medium-1 columns" id="list-toggle">
		<a href="#" class="float-right hide-for-small-only">{% include svg_icon.svg name='list'%}</a>
		<a class="see-all show-for-small-only text-center">see all</a>
	</div>

	<div class="row clearfix" id="listrow">
		<div class="small-12 columns talkitem header">
			<p class="header"><span class="time">Date / Time</span>
			<span class="title">Title</span>
			
		</p>
	</div>
	{% for talk in site.data.talks %}
		<div class="small-12 columns talkitem">
			<p><span class="time">{{talk.time}}</span>
			<span class="title">{{talk.title}}</span>
			
		</p>
	</div>
{% endfor %}
</div>
</div>
